<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
	<form th:action="/devho321/insertNotice" method="post">
		<!-- <input type="text" name="noticeWriter" placeholder="작성자">
		<input type="text" name="noticeTitle" placeholder="제목">
		<input type="text" name="noticeContent" placeholder="내용">
		<input type="text" name="originFile" placeholder="파일원본이름">
		<input type="text" name="storedFile" placeholder="파일저장이름">
		<button type="submit">등록</button> -->
	</form>
</div>
</html>