<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<style type="text/css">
		.one{border : 2px solid red;}
		.two{border : 2px solid green; margin-top: 5px;}
		.three{border : 2px solid blue; margin-top: 5px;}
	</style>
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
	<div class="one">
		<h1>noticeList조회</h1>
		<a th:href="@{/noitceList}">notice 게시글 조회</a>
	</div>

	<div class="two">
		<h1>notice게시글 검색조회</h1>
		<form method="post" action="/noitceList">
          <select name="searchType">
              <option value="default" disabled selected>선택</option>
              <option value="title">제목</option>
              <option value="content">내용</option>
          </select>
          <div>
              <input type="text" name="searchKeyWord" placeholder="공지사항 검색" />
              <input type="submit" value="검색"  />
          </div>
      </form>
	</div>
	
	<div class="three">
		<h1>notice게시글 작성</h1>
		<form action="/noticeInsert" method="post" enctype="multipart/form-data">
			<input type="text" name="noticeWriter" placeholder="작성자">
			<input type="text" name="noticeTitle" placeholder="제목">
			<input type="text" name="noticeContent" placeholder="내용">
			<input type="file" name="noticeFile" multiple>
			<button type="submit">등록</button>
		</form>
	</div>
</div>
</html>